---
import "styles/global.scss"
import { Maybe } from "astro-control"
import { toHTML } from "@portabletext/to-html"
import sanityClient from "lib/sanityClient"
// import Image from "components/Image.astro"
import { portableTextComponents } from "lib/components"
import { getNestedHeadings } from "lib/utils"
import { resourceQuery } from "lib/queries"
import { Resource } from "lib/interfaces"

const response = await sanityClient.fetch(resourceQuery)
const data = response
const { resource } = data as { resource: Resource }

const titles = resource.body.filter(block => block.style !== "normal")
const headings = getNestedHeadings(titles)
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{resource.title}</title>
  </head>
  <body>
    <!-- <header>
      {resource.image &&
        <Image
          className=""
          image={resource.image}
          width={2000}
          height={700}
          lazy={false}
        />
      }
    </header> -->
    <article class="flex gap-20 container">
      <nav class="w-1/4 sticky self-start top-12 overflow-auto mt-32">
        <ul class="sans smooth font-semibold text-xl color-850 list-dash list-inside">
          {headings.map(heading => (
            <li class="mt-3">
              <a
                href={`#${heading.id}`}
                class="hover:underline"
              >{heading.title}</a>
              {heading.items.length > 0 && (
                <ul class="font-medium color-750 list-dash list-inside ml-3">
                  {heading.items.map(child => (
                    <li>
                      <a
                        href={`#${child.id}`}
                        class="hover:underline"
                      >{child.title}</a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))}
        </ul>
      </nav>
      <section class="main w-3/4 pr-44">
        <h1 class="text-7xl mono smooth font-bold color-850 my-12">
          {resource.title}
        </h1>
        <Maybe
          as="div"
          set:html={toHTML(resource.body, {components: portableTextComponents})}
        ></Maybe>
      </section>
    </article>
  </body>
</html>
