---
import moment from "moment"
import { urlFor } from "../lib/utils"
const { locale, en, cy } = Astro.props
---

<table
  class="py-40 bg-white border-2"
  border="0"
  cellpadding="0"
  cellspacing="0"
>
  <tr>
    <td>
      {locale.newsletter.events.map(event => (
        <table
          class="event block float-left w-half text-left"
          border="0"
          cellpadding="0"
          cellspacing="0"
        >
          <tr>
            <th class="p-20">
              <a href={event.britelink}>
                <img
                  src={urlFor(event.mainImage)
                    .auto("format")
                    .width(600)
                    .height(400)
                    .quality(80)
                    .url()}
                  class="w-full h-auto"
                  alt="Expressive arts for wellbeing (Key Stage 2)"
                  width="300"
                  height="200"
                />
              </a>
              <time
                datetime={
                  moment(new Date(event.dateStart)).format("yyyy-MM-dd")
                }
                class="block mt-10 mx-0 mb-2 py-5 px-0 text-sm font-300"
              >
                {moment(new Date(event.dateStart)).format("d MMMM yyyy, k:mm")}
              </time>
              <h2
                class="p-0 m-0 text-lg font-700 leading-6"
                set:html={event.title}
              />
              <p
                class="py-0 py-5 m-0 font-200 leading-6"
                set:html={event.summary}
              />
              <p class="py-0 py-5 m-0 font-200 leading-6">
                <a
                  href={event.britelink}
                  class="text-accent font-400 no-underline hover:underline"
                  set:html={locale.labels.register}
                />
              </p>
            </th>
          </tr>
        </table>
      ))}
    </td>
  </tr>
</table>
