---
const { locale, en, cy } = Astro.props
const year = new Date().getFullYear()
---

<table
  class="w-full pt-40 px-20 mb-40 text-muted"
  style="
    width: 100%;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
    color: #666666;
  "
  border="0"
  cellpadding="0"
  cellspacing="0"
>
  <thead>
    <tr>
      <td
        class="pb-20 text-center"
        style="padding-bottom: 20px; text-align: center;"
      >
        {locale.newsletter.social.map(link => (
          <a
            href={link.url}
            class="no-underline"
            style="text-decoration: none;"
          >
            <img
              src={link.icon}
              class="social-icon m-5 rounded-full"
              style="margin: 5px; border-radius: 9999px;"
              width="48"
              height="48"
              alt={link.name}
            />
          </a>
        ))}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td
        class="w-full text-sm text-center"
        style="width: 100%; font-size: 14px; text-align: center;"
      >
        <p
          class="font-400 text-muted m-0 py-5 px-0 leading-6"
          style="
            font-weight: 400;
            color: #666666;
            margin: 0px;
            padding-top: 5px;
            padding-right: 0px;
            padding-bottom: 5px;
            padding-left: 0px;
            line-height: 1.5em;
          "
        >
          &copy;{" "}{year}{" "}<span set:html={locale.company.title} />
        </p>
        <p
          class="font-400 text-muted m-0 py-5 px-0 leading-6"
          style="
            font-weight: 400;
            color: #666666;
            margin: 0px;
            padding-top: 5px;
            padding-right: 0px;
            padding-bottom: 5px;
            padding-left: 0px;
            line-height: 1.5em;
          "
        >
          <span set:html={locale.company.address.line1} /> &bull;
          <span set:html={locale.company.address.line2} /> &bull;
          <span set:html={locale.company.address.city} /> &bull;
          <span set:html={locale.company.address.postcode} />
        </p>
        <p
          class="font-400 text-muted m-0 py-5 px-0 leading-6"
          style="
            font-weight: 400;
            color: #666666;
            margin: 0px;
            padding-top: 5px;
            padding-right: 0px;
            padding-bottom: 5px;
            padding-left: 0px;
            line-height: 1.5em;
          "
        >
          <span set:html={locale.labels.change} /><br />
          <a
            href="*|UNSUB|*"
            class="text-muted underline"
            style="color: #666666; text-decoration: underline;"
            set:html={locale.labels.unsubscribe}
          />.
        </p>
      </td>
    </tr>
  </tbody>
</table>
