---
import format from "date-fns/format/index.js"
import { urlFor } from "../lib/utils"
const { locale, en, cy } = Astro.props
---

<table class="py-40 bg-white border-2" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td>
        {locale.newsletter.events.map(event => (
          <table class="event block float-left w-half text-left" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <th class="p-20">
                  <a href={`https://artsed.wales/courses/${event.slug}`} target="_blank">
                    <img src={urlFor(event.mainImage).format("jpg").width(600).height(400).quality(80).url()} class="w-full h-auto" width="300" height="200" alt={event.title} />
                  </a>
                  {event.dateStart ? <time datetime={format(new Date(event.dateStart), "yyyy-MM-dd")} style="display: block; font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif !important; margin: 0px; padding-top: 10px; padding-bottom: 5px; font-size: 14px; font-weight: 300;">
                    {format(new Date(event.dateStart), "d MMMM yyyy, k:mm")}
                  </time> : <p style="font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif !important; padding-top: 5px; padding-bottom: 5px; margin: 0px; font-size: 14px; font-weight: 300; line-height: 1.5;">Date to be announced</p>}
                  <h2 style="font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif !important; padding-top: 5px; padding-bottom: 5px; margin: 0px; font-size: 18px; font-weight: 700; line-height: 1.5em;" set:html={event.title} />
                  <p style="font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif !important; padding-top: 5px; padding-bottom: 5px; margin: 0px; font-size: 16px; font-weight: 200; line-height: 1.5;" set:html={event.summary} />
                  {event.britelink && <p style="font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif !important; padding-top: 5px; padding-bottom: 5px; margin: 0px; font-size: 16px; font-weight: 200; line-height: 1.5;">
                    <a href={event.britelink} style="color: #00ABD6; font-weight: 400; text-decoration: none;" set:html={locale.labels.register}></a>
                  </p>}
                </th>
              </tr>
            </tbody>
          </table>
        ))}
      </td>
    </tr>
  </tbody>
</table>
