---
const { locale, en, cy } = Astro.props
const url = `
  ${locale.settings.url}/${locale.newsletter._type}/${locale.newsletter.slug}
`
---

<table class="w-full py-20 text-center" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td>
        <a href={url} style="font-size: 12px; font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif !important; color: #666666; text-decoration: underline; font-weight: 400; letter-spacing: 0.025em" set:html={locale.labels.browser}
        />
      </td>
    </tr>
  </tbody>
</table>
